In [1]:
import pandas as pd

In [4]:
order = pd.read_csv(
    "../data/level2/m111-item2category-from-order.csv", sep=','
).rename(columns={'sales_segment1_code': 'category'})

In [9]:
len(order)

2547

In [7]:
dis = pd.read_csv(
    "../data/level2/m111-item2category-from-dis.csv", sep=','
).rename(columns={'sales_segment1_code': 'category'})

In [10]:
len(dis)

4348

In [11]:
inv = pd.read_csv(
    "../data/level2/m111-item2category-from-inv.csv", sep=','
).rename(columns={'sales_segment1_code': 'category'})

In [12]:
len(inv)

5323

In [13]:
items = pd.concat([order, dis, inv], axis=0)

In [15]:
items

           item_code category
0     21051110002050       RR
1     21063210002712      JSJ
2     21066220001716     CRZJ
3     21051110001382       RR
4     21012500001357      JSJ
5     21051030Z00081       DR
6     21051030001706       DR
7     21063210002912      JSJ
8     21063210000031      JSJ
9     21051030002908       DR
10    21075918000087    CRXDG
11    21063210002032      JSJ
12    21051030Y01181       DR
13    21066220001234     CRZJ
14    T1004170000065     TGWL
15    21051110Z00125       RR
16    21063120Z00081      JSJ
17    21051030001787       DR
18    21063210000352      JSJ
19    21073010001237     CRYJ
20    21066220001414     CRZJ
21    21073010001557     CRYJ
22    21051030003348       DR
23    21051030003215       DR
24    21066220000072     CRZJ
25    T1004170000092     TGWL
26    21066220000514     CRZJ
27    11002012002492       -1
28    21063020001090      YSJ
29    21051030000093       DR
...              ...      ...
5293  21063210001792      JSJ
5294  21058010000001      NaN
5295  21051030000849       DR
5296  12874000000192      NaN
5297  21063210000773      JSJ
5298  21063210000061      JSJ
5299  21074110000876      NaN
5300  21051030Y00019       DR
5301  21066220000006     CRZJ
5302  12874000000273      NaN
5303  21063213000076      JSJ
5304  21063215Y00022      JSJ
5305  21063020000930      YSJ
5306  21027620Z00024      RQL
5307  21051030000679       DR
5308  21051110001417      NaN
5309  21051030000285       DR
5310  21066220000164     CRZJ
5311  12874000000410      NaN
5312  21063214Z00141      JSJ
5313  12874000000835      NaN
5314  21058010000066    CRZBQ
5315  21063210002972      JSJ
5316  21066220000040     CRZJ
5317  21063020000279      YSJ
5318  T1002170000002     TGWL
5319  21073110000008    CRXDG
5320  21051030003086       DR
5321  12974000000353   CRZTCF
5322  10501305000350    CRXWJ

[12218 rows x 2 columns]

In [16]:
len(order) + len(dis) + len(inv)

12218

In [17]:
items.drop_duplicates('item_code', keep='first', inplace=True)

In [18]:
len(items)

5079

In [20]:
items.to_csv("../data/level2/item2category-from-3.csv", index=False)