In [1]:
import pandas as pd

In [17]:
dis = pd.read_csv(
    "../../data/level2/m111-sku-dis-from-dw.csv", 
    sep=',', parse_dates=['order_date']
).rename(columns={'order_date': 'dis_date'})

In [19]:
category = pd.read_csv("../../data/level2/item2category-from-3.csv", sep=',')

In [20]:
dis = dis.join(category.set_index('item_code'), on='item_code', how='left')

In [21]:
dis['month'] = dis.dis_date.astype('str').apply(lambda x: x[:7])

In [23]:
dis.head()

    dis_date       item_code    qty category    month
0 2015-01-01  21051030Y00012    1.0       DR  2015-01
1 2015-01-01  21063020000289    1.0      YSJ  2015-01
2 2015-01-01  21012500000009  275.0      JSJ  2015-01
3 2015-01-01  21051030000187   76.0       DR  2015-01
4 2015-01-01  21063311000046    4.0      YSJ  2015-01

In [24]:
dis = dis.groupby(['category', 'month'])[['qty']].sum()

In [27]:
dis = dis.unstack(level=-1).fillna(0)

In [30]:
dis.columns = dis.columns.get_level_values(1)

In [32]:
dis.to_csv("dis.txt", sep='\t')

In [33]:
dis

month,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,...,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
category,,,,,,,,,,,,,,,,,,,,,
-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-21.0,16.0,0.0,0.0
CRJCZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2816.0,1754.0,1962.0,2834.0,2010.0,3933.0,2534.0,2815.0,1293.0,308.0
CRLJCLQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,498.0,1629.0,4985.0,10556.0,4731.0,8860.0,1838.0,2672.0,2473.0,71.0
CRXDG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35925.0,33444.0,75776.0,88539.0,80577.0,123133.0,66641.0,73779.0,26120.0,2224.0
CRXWJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4594.0,29630.0,93527.0,100210.0,75657.0,96506.0,44490.0,51740.0,20475.0,1736.0
CRYJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,276744.0,408570.0,707587.0,849606.0,741948.0,784061.0,690346.0,801917.0,295919.0,27428.0
CRZBQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,254.0,228.0,4.0
CRZJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,306250.0,373910.0,730190.0,877006.0,734924.0,872396.0,682407.0,846656.0,302260.0,23275.0
CRZTCF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2988.0,1892.0,1538.0,3447.0,3235.0,5991.0,5149.0,4347.0,-647.0,20.0
DR,1140356.0,483052.0,775931.0,445009.0,581177.0,853498.0,363563.0,615279.0,1204159.0,548766.0,...,747724.0,761525.0,1832516.0,2500885.0,2115591.0,3073605.0,2602759.0,3353108.0,1283742.0,139534.0
JSJ,166384.0,132244.0,175793.0,125649.0,152908.0,410510.0,142551.0,194319.0,412731.5,96477.0,...,478279.0,482876.0,832661.0,1368811.0,1403059.0,1428143.0,1234884.0,1555080.0,748987.0,69559.0
RQL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4035.0,9613.0,19933.0,19024.0,33745.0,32000.0,13629.0,15697.0,7494.0,238.0
RR,159968.0,84403.0,150697.0,82971.0,120939.0,198702.0,85651.0,110652.0,242816.0,116497.0,...,283625.0,249508.0,609039.0,717387.0,593511.0,898912.0,769132.0,929159.0,373587.0,51501.0
TGWL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2931.0,3456.0,...,15237.0,14363.0,3594.0,19470.0,135004.0,563787.0,39585.0,36984.0,1350.0,59.0
YSJ,274496.0,151241.0,244402.0,181471.0,172035.0,332312.0,113584.0,244123.0,347845.0,69021.0,...,158853.0,139021.0,245240.0,400081.0,370811.0,417859.0,340298.0,412160.0,226797.0,22145.0